/* Normalisation de ma page RESET CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* mise en forme des balises globales */

html,
body {
    font-family: "Open Sans", sans-serif;
    color: #222;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    background: #333;
    overflow: hidden;
}

header h1 {
    float: left;
    padding: 1.23rem;
}

header h1 a {
    color: white;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
    padding: 1.23rem;
}

header nav ul li a {
    color: white;
    padding: 1.23rem;
    display: block;
}