/*Normalisation de ma page RESET CSS*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    font-family: "Open Sans", sans-serif;
    color: #222;
}

a {
    text-decoration: none;
    color: white;
}


/* HEADER */

header {
    background-color: #333;
    overflow: hidden;
    line-height: 1.7rem;
}

.active {
    background-color: #444;
    padding: 3rem;
}

header h1 {
    float: left;
    padding: 1.23rem;
    color: white;
    display: inline-block;
}

nav ul {
    list-style-type: none;
    line-height: 1.7rem;
}

nav {
    float: right;
    margin-top: 1.8rem;
}

nav li {
    display: inline;
    padding: 1.23rem;
    text-align: center;
}

.couleur {}